body {
    background-color: lightgoldenrodyellow;
}

.timeButton {
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 11px;
    border-color: black;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

#timeDisplay {
    font-size: 75px;
    font-family: inherit;
    color: cornflowerblue;
    
}

#timeContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 12px;
    color: black;
    background-color: lightcyan;
}

.timeButton:hover {
    background-color: green;
}